body {
  text-align: center;
  background-color: #443118;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 #dada04;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background: url('images/baikit-nemanau.png') no-repeat;
  background-size: 100%;
}

.a {
  background: url('images/bite1.png') no-repeat;
  background-size: 100%;
}
  
.s {
  background: url('images/bite2.png') no-repeat;
  background-size: 100%;
}

.d {
  background: url('images/kiesa.png') no-repeat;
  background-size: 100%;
}

.j {
  background: url('images/lazauskiene.png') no-repeat;
  background-size: 100%;
}

.k {
  background: url('images/norejau-kazka-irodyt.png') no-repeat;
  background-size: 100%;
}

.l {
  background: url('images/svieciat.png') no-repeat;
  background-size: 100%;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 10px solid #8a5d15;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #dab304;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 100%;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
